<section class="patient-panel">
    <div class="tabs">
        <button [class.active]="activeTab === 'today'"
        (click)="setTab('today')">
        Today's Patients
        </button>
    

    <button
    [class.active]="activeTab === 'results'"
        (click)="setTab('results')">
        Search Results
        </button>
    </div>
    
    <div class="patients" *ngIf="patients.length > 0; else noPatients">
    <app-patient-card
        *ngFor="let patient of patients"
        [patient]="patient"
    ></app-patient-card>
    </div>

    <ng-template #noPatients>
    <p class="empty-state">No patients found.</p>
    </ng-template>
    
    
</section>
